@model Microsoft.AspNetCore.Identity.IdentityUser

@{
    ViewBag.Title = "Forgot Password";
    Layout = "_Layout";
}


<div class="text-center container-fluid row text-primary">
    <h1 class="display-4 long-rounded fw-bold">Forgot Password</h1>
    <p class="fw-bold text-dark">
        Seems like you've forgotten your password, please input a new password below.
    </p>
</div>

<form class="container-fluid row" method="post" action="/reset/password">
    <div class="col-md-6 col-12">
        
        <input type="hidden" class="form-control" id="cusf" name="email" value="@Model.Email">

        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="cusf" name="newpass">
            <label for="cusf">New Password</label>
        </div>
    </div>
    <div class="col-md-6 col-12">
        <div class="flex-column d-flex justify-content-between">
            <button class="btn btn-primary" type="submit">
                <i class="bi bi-arrow-bar-right"></i> Update Password
            </button>
        </div>
    </div>
</form>