

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container-fluid row">
    <div class="col-md-6 col-12 my-auto fw-bold">
        <form method="post" action="/reset/password/send">
            <h1 class="display-4 long-rounded fw-bold text-start text-primary">Login</h1>
            <p class="fw-bold text-dark text-start">
                Sign in to access your BabyPedia account.
            </p>
            <div class="form-floating mb-3">
                <input name="email" type="text" class="form-control" id="username">
                <label for="username">Email</label>
            </div>
            <div class="flex-column d-flex justify-content-between">
                <button class="btn btn-primary">
                    <i class="bi bi-arrow-bar-right"></i> Send Password Reset Link
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-6 col-12">
        <img src="~/images/327861143_666198605252374_4836121851101944564_n.jpg"/>
    </div>
</div>