/* _content/BabyPedia/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-2z4nk64983] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}


a[b-2z4nk64983] {
  color: #0077cc;
}

.btn-primary[b-2z4nk64983] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-2z4nk64983], .nav-pills .show > .nav-link[b-2z4nk64983] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-link.text-success[b-2z4nk64983] {
    font-size: 23px; 
    font-weight: bold;
}

.nav-link.text-danger[b-2z4nk64983] {
  font-size: 23px;
  font-weight: bold;
}



.border-top[b-2z4nk64983] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-2z4nk64983] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-2z4nk64983] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-2z4nk64983] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-2z4nk64983] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

li:nth-child(5)[b-2z4nk64983] {
    color: #FFFFFF;
    background-color: red;
    border-radius: 5px 5px 5px 5px;
    padding: 1px 1px;
    
}

li:nth-child(6)[b-2z4nk64983] {
    color: #FFFFFF;
    background-color: orange;
    border-radius: 5px 5px 5px 5px;
    padding: 1px 1px;
    
}


a.navbar-brand[b-4o6rba3m1g] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}


a[b-4o6rba3m1g] {
  color: #0077cc;
}

.btn-primary[b-4o6rba3m1g] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-4o6rba3m1g], .nav-pills .show > .nav-link[b-4o6rba3m1g] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-link.text-success[b-4o6rba3m1g] {
    font-size: 23px; 
    font-weight: bold;
}

.nav-link.text-danger[b-4o6rba3m1g] {
  font-size: 23px;
  font-weight: bold;
}



.border-top[b-4o6rba3m1g] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-4o6rba3m1g] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-4o6rba3m1g] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-4o6rba3m1g] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-4o6rba3m1g] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

li:nth-child(5)[b-4o6rba3m1g] {
    color: #FFFFFF;
    background-color: red;
    border-radius: 5px 5px 5px 5px;
    padding: 1px 1px;
    
}

li:nth-child(6)[b-4o6rba3m1g] {
    color: #FFFFFF;
    background-color: orange;
    border-radius: 5px 5px 5px 5px;
    padding: 1px 1px;
    
}
